<div class="container">

    <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="settings-organization-tab" data-bs-toggle="tab" href="#settings-organization" role="tab" aria-controls="settings-organization" aria-selected="false">Organization
            <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="These details are for the potential volunteers to see"></i></a>
        </li>


        <li class="nav-item" role="presentation">
            <a class="nav-link" id="settings-email-tab" data-bs-toggle="tab" href="#settings-email" role="tab" aria-controls="settings-email" aria-selected="false">Email
            <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Edit email details for your organization to send emails to potential volunteers and Learnders  "></i></a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" id="settings-apps-tab" data-bs-toggle="tab" href="#settings-apps" role="tab" aria-controls="settings-apps" aria-selected="false">Apps
            <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Add or edit apps to integrate"></i></a>
        </li>


    </ul>

    <div class="tab-content" id="myTabContent">

        
        <div class="tab-pane fade show active" id="settings-organization" role="tabpanel" aria-labelledby="settings-organization-tab">
            {% include 'organization/userSettings.html' %}
        </div>

        <div class="tab-pane fade" id="settings-email" role="tabpanel" aria-labelledby="settings-email-tab">
            email
        </div>   

        <div class="tab-pane fade" id="settings-apps" role="tabpanel" aria-labelledby="settings-apps-tab">
            apps
        </div>   

    </div>

</div>

{% block ex_script %}


{% endblock %}
    
    